In [1]:
import pandas as pd
pd.set_option('display.max_columns', 100)

In [2]:
df = pd.read_csv('sample_text.csv')
df.shape

(8, 2)

In [17]:
df

                                                text category
0      Meditation and yoga can improve mental health   Health
1  Fruits, whole grains and vegetables helps cont...   Health
2  These are the latest fashion trends for this week  Fashion
3  Vibrant color jeans for male are becoming a trend  Fashion
4                 The concert starts at 7 PM tonight    Event
5  Navaratri dandiya program at Expo center in Mu...    Event
6  Exciting vacation destinations for your next trip   Travel
7  Maldives and Srilanka are gaining popularity i...   Travel

Step 1 : Create source embeddings for the text column

In [3]:
from sentence_transformers import SentenceTransformer

c:\Users\SUBHRADEEP\Langchain\myenv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [5]:
encoder = SentenceTransformer('all-mpnet-base-v2')
vectors = encoder.encode(df.text)

In [10]:
dim = vectors.shape[1]
dim

768

Step 2 : Build a FAISS Index for vectors

In [8]:
import faiss

In [11]:
index = faiss.IndexFlatL2(dim)
index

In [12]:
index.add(vectors)

Step 4 : Encode search text using same encorder and normalize the output vector

In [14]:
search_query = "I want to buy a polo t-shirt"

vec = encoder.encode(search_query)
vec.shape

(768,)

vec is 1D array but index expects 2D array while searching

In [15]:
import numpy as np
svec = [vec]
svec = np.array(svec)
svec.shape

(1, 768)

In [18]:
distances,Indexes = index.search(svec,k=2)

In [21]:
Indexes

array([[3, 2]], dtype=int64)

In [22]:
df.loc[Indexes[0]]

                                                text category
3  Vibrant color jeans for male are becoming a trend  Fashion
2  These are the latest fashion trends for this week  Fashion